# Не копировать локальное виртуальное окружение
.venv

# Не копировать файл с переменными окружения
.env

# Не копировать кэш Python
__pycache__/
*.pyc

# Не копировать системные файлы macOS
.DS_Store

# Не копировать папку git
.git

# Не копировать файлы логов
*.log